@import "materialize/components/color";
$primary-color: color("light-green", "darken-1") !default;
@import 'materialize';

html {
  background: url('music.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
